.pie-de-pagina {
  background-color: #940d0d; 
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: auto; 
  width: 100%;
}

.logo-pie {
  height: 50px;
  margin-bottom: 10px;
}

.nombre-tienda {
  margin: 0;
  font-size: 1.1rem;
}

.derechos-reservados {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #adb5bd; 
}